*,
*::before,
*::after {
    box-sizing: border-box;
}


ul {
    list-style: none;
}

ul li {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 10px;
    padding: 0;
    background-color: whitesmoke;
    border-radius: 50%;
    position: relative;
}

ul li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}

a:hover .fa-facebook-square {
    color: #4267B2;
}

a:hover .fa-twitter {
    color: #1DA1F2;
}

a:hover .fa-google-plus-square {
    color: #db4a39;
}

a:hover .fa-linkedin {
    color: #0072b1;
}

a:hover .fa-instagram {
    color: #f09433;
}