body {
    padding: 15px;
    background: #f9f7cf;
    width: 480px;
}

body header {
    padding: 5px 15px;
    background: #f2dcbb;
    border: 1px solid #f2dcbb;
}

body footer {
    padding: 5px 15px;
    background: #f2dcbb;
    border: 1px solid #f2dcbb;
}