body {
    background-color: rbg(238, 238, 238);
}

h1,
h2,
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.page {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 28px 20px;
    justify-content: center;
    align-content: center;

}

.page header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
    margin-bottom: 24px;
}

.page header>h2 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

img {
    border: 4px solid black;
    padding: 12px;
    background-color: #FFF;
    box-shadow: 0 0 16px grey;
}

.part-one img {
    float: right;
    margin-left: 16px;
}

main {
    width: 100%;
    padding: 0 10px;
    margin-right: auto;
}

.item {
    width: 100%;
    display: flex;
}

.item-1 {
    width: 50%;
}

.item-2 {
    width: 50%;
    border-left: 3px solid lightslategray;
    padding-left: 20px;
    margin-left: 20px;
}

.author {
    text-align: right;
}

.part-tree img {
    float: left;
    margin-right: 16px;
}

main * {
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .page img {
        float: none;
    }

    .page p {
        font-size: 14px;
    }

    .item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .item-1 {
        width: 100%;
    }

    .item-2 {
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .page p {
        font-size: 14px;
    }
}


@media screen and (min-width: 600px) {
    .page p {
        font-size: 16px;
    }
}


@media screen and (min-width: 800px) {
    .page p {
        font-size: 18px;
    }
}


@media screen and (min-width: 1300px) {
    .page p {
        font-size: 21px;
    }
}


@media screen and (min-width: 1800px) {
    .page p {
        font-size: 23px;
    }
}